.git
.github
.turbo
target
.env
.env.*
!.env.production.example
**/.DS_Store
**/coverage
**/dist
**/node_modules
apps/desktop/out
apps/desktop/release
apps/web/dist
output
playwright-report
test-results
