:4311 {
	@livekit path /rtc*

	handle @livekit {
		reverse_proxy host.docker.internal:7880
	}

	@realtime path /connection/* /emulation

	handle @realtime {
		reverse_proxy host.docker.internal:8000
	}

	@api path /v1/* /api/auth/* /.well-known/* /health /ready /metrics

	handle @api {
		reverse_proxy host.docker.internal:4310
	}

	handle {
		reverse_proxy host.docker.internal:5173
	}
}
